

label {
    cursor: pointer;
}


input[type="checkbox"]
{
    /*Tar bort orginalrutan för checkboxes*/
    display:none;
}




/*ALL CHECKBOXES MOUSE EFFECTS*/

.beer-text, .wine-text, .coctail-text, .alcFree-text {
    /*background: #FFDC00;*/
    display: inline-block;
    box-shadow: 5px 5px 0px #fdf098;
    position: relative;
    padding: 1em 2em;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;
    width: 35px;;
    text-align: center;
    font-size: 18px;
    color: white;
    letter-spacing: 0.1em;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    background: #d6bc33;
    margin: 5px;
    -webkit-border-radius: 15px;
}

.beer-text:hover,.wine-text:hover, .coctail-text:hover, .alcFree-text:hover  {
    background: #FFDC00;
}

.beer-text:active, .wine-text:active, .coctail-text:active, .alcFree-text:active  {
    top: 5px;
    left: 5px;
    box-shadow: 0px 0px 0px #fff199;
}







/*BEER CHECKBOXES*/
input[type="checkbox"] + .beer-text:after {
    content: url(../images/beer.svg);
    -webkit-font-smoothing: antialiased;
}

input[type="checkbox"]:checked + .beer-text:after {
    content: url(../images/beer2.svg);
}


/*WINE CHECKBOXES*/
input[type="checkbox"] + .wine-text:after {
    content: url(../images/wine3.svg);
    /*-webkit-font-smoothing: antialiased;*/
}

input[type="checkbox"]:checked + .wine-text:after {
    content: url(../images/wine2.svg);
}


/*COCTAIL CHECKBOXES*/
input[type="checkbox"] + .coctail-text:after {
    content: url(../images/Coctail.svg);
    /*-webkit-font-smoothing: antialiased;*/
}

input[type="checkbox"]:checked + .coctail-text:after {
    content: url(../images/Coctail2.svg);
}


/*NON ALCOHOL CHECKBOXES*/
input[type="checkbox"] + .alcFree-text:after {
    content: url(../images/Coctail.svg);
    /*-webkit-font-smoothing: antialiased;*/
}

input[type="checkbox"]:checked + .alcFree-text:after {
    content: url(../images/Coctail2.svg);
}


/*BEER CHECKBOXES*/
input[type="checkbox"] + .allergy-text:before {
    content: url(../images/unchecked.svg);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="checkbox"]:checked + .allergy-text:before {
    content: url("../images/checked.svg");
    color: #06a3e9;
    -webkit-animation:tick 180ms ease-in;
    animation:tick 180ms ease-in;
}

.allergy-text{
    /*background: #FFDC00;*/
    /*font-weight: normal;*/




    margin-left: 20px;
    width: 4em;
    font-variant: normal;
    font-size: 15px;
    /*margin-left: 7px;*/
    line-height: 2;
    letter-spacing: 0.15em;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
    color: #fbef97;
}

#checkBoxesAllergy{
    position: relative;
    background-color: rgba(93, 93, 93, 0.98);
    width: 200px;
    margin-left: 0px;
    margin-bottom: 30px;
    top: 40px;


    z-index:1;
    border-radius: 10px;

    box-shadow: 0 3px 5px rgba(0, 0, 0, .1);


}


@-webkit-keyframes tick {
    0%   {-webkit-transform: scale(0); }
    90%  {-webkit-transform: scale(1.4); }
    100%  {-webkit-transform: scale(1); }
}

@keyframes tick {
    0%   {transform: scale(0); }
    90%  {transform: scale(1.4); }
    100%  {transform: scale(1); }
}
