#chooseLanguage {
    float: right;
    padding: 5px;

}


input[type="checkbox"] + .lang-text {
    content: url(../images/british-flag.svg);
    -webkit-font-smoothing: antialiased;
    width: 40px;
    display: inline-block;
    margin-left: 5px;
}

input[type="checkbox"]:checked + .lang-text {
    content: url(../images/swedish-flag.svg);
    -webkit-animation: tick 180ms ease-out;
    animation: tick 180ms ease-out;
}


.lang-text {

    border-radius: 0;
    /*box-shadow: 20px 5px 0px #fff199;*/
    position: relative;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0px;

}

.lang-text:hover {


}

.lang-text:active {
    top: 5px;
    left: 5px;
    /*box-shadow: 0px 0px 0px #fff199;*/
}




@-webkit-keyframes tick {
    0% {
        -webkit-transform: scale(1);
    }
    90% {
        -webkit-transform: scale(1.4);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes tick {
    0% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }

}